header {
  background-color:#1f2890;
}

footer {
  background-color:#1f2890;
  position:fixed;
  width:100%;
}

footer p {
  color:white;
}

/* .courtBackground {
  background:url("../imgs/wolv_court.png");
  background-repeat:no-repeat;
  background-position:0% 90%;
  background-size:cover;
} */

.courtBackground {
  background-color:#1f2890;
}

.threebythree {
  display:grid;
  grid-template-columns:1fr 8fr 1fr;
  grid-template-rows:1fr 8fr 1fr;
  grid-template-areas:
    ". . ."
    ". text ."
    ". . .";
}

.hidden-label {
  display:none;
}

.shadedbox {
  grid-area:text;
  background-color:white;
  opacity:.9;
  padding:10px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size:200%;
}

p, .experiences button {
  font-family:'Libre Baskerville', serif;
}

nav ul li{
	min-height: 15px;
	line-height: 15px;
	text-align: center;
  align-items:center;
  border:1px solid black;
  background-color:#1f2890;
}

nav ul li a, nav ul li i {
  display:block;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:white;
  font-family: 'Playfair Display', serif;
}

.hidden {
  display:none;
}

.sticky {
  position:fixed;
  z-index:1;
  top:0;
  width:100%;
}

.main_nav li a:hover {
  background-color:#4c55bb;
}

.main_nav li a:active {
  background-color:#e0e422;
}

.main_nav li a.current{
  background-color:#dadf0c;
  font-style:italic;
  color:black;
}

#offpage {
  position:absolute;
  left:-1000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

#offpage:focus{
  position:static;
  width:auto;
  height:auto;
}

.skills div {
  padding: 15px;
  border-style:solid;
  border-width:3px;
  border-color:#1f2890;
  margin:5px;
  text-align:center;
}

.skills i {
  font-size:400%;
}

.skills h2 {
  font-family:'Indie Flower', serif;
  font-size:150%;
}

.gallery {
  display:grid;
  grid-template-columns: 1fr;
}

.gallery img {
  padding:5px;
  background-size:cover;
  width:95%;
  max-width:1000px;
  height:auto;
}

.experiences img {
  width:150px;
}

.experiences_left {
  padding: 10px;
  border-style:solid;
  border-width:3px;
  border-color:#1f2890;
  margin:5px;
  text-align:center;
  display:none;
}

.experiences_right {
  padding: 10px;
  border-style:solid;
  border-width:3px;
  border-color:#1f2890;
  margin:5px;
  text-align:center;
  display:none;
}

.accordion, .active {
  background-color: #dadf0c;
  color: black;
  padding:18px;
  width:100%;
  text-align:left;
  border-style:solid;
  border-color:black;
  transition:.4s;
}

.wolv-plug {
  background:#dadf0c;
}

/* START CODE FOR MDOAL LIGHTBOX */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.row img {
  width:100%;
}

.modal img {
  width:100%;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}
.demo:hover {
  opacity:1;
}

img.hover-shadow {
  transition:0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* END CODE FOR MDOAL LIGHTBOX */

/* START CODE FOR HTML5 CUSTOM VIDEO PLAYER */
.player {
  border: 6px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  background-color:#1f2890;
  width:100%;
}
.player:hover .progress {
  height: 10px;
}
.player:hover .player-controls {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.player:-webkit-full-screen,
.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen,
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.play-btn {
  flex: 1;
}

.player-video {
  width: 100%;
  display: block;
}

.player-btn {
  background: none;
  border: 0;
  color: white;
  text-align: center;
  max-width: 60px;
  padding: 5px 8px;
}
.player-btn svg {
  fill: #FFFFFF;
}
.player-btn:hover, .player-btn:focus {
  border-color: #FFEC41;
  background: rgba(255, 255, 255, 0.2);
}

.player-slider {
  width: 10px;
  height: 30px;
}

.player-controls {
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(100%) translateY(-5px);
          transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.3);
}

.player-controls > * {
  flex: 1;
}

.progress {
  position: relative;
  display: flex;
  flex: 10;
  flex-basis: 100%;
  height: 4px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.filled-progress {
  width: 50%;
  background: #FFEC41;
  flex: 0;
  flex-basis: 50%;
}

.sliders {
  max-width: 200px;
  display: flex;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.8);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 10px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
}
/* END CODE FOR CUSTOM HTML5 VIDEO PLAYER */

/* below rules only apply for screens larger than 400px (tablet displays) */
@media screen and (min-width:450px) {
  .skills {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery {
    grid-template-columns:1fr 1fr;
  }

  .gallery img {
    max-height:200px;
  }

  .icon {
    display:none;
  }

  #hidden {
    display:inline-block;
  }

  .alive {
    display:inline-block;
  }
}

/* below rules only apply for screens larger than 776px (laptop displays) */
@media screen and (min-width:800px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery img {
    max-height:175px;
  }
  .skills {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .experiences img {
    width:100%;
  }

  .experiences_left {
    display:grid;
    grid-template-columns:3fr 1fr;
    text-align:left;
  }

  .experiences_right {
    display:grid;
    grid-template-columns:1fr 3fr;
    text-align:right;
  }

  nav ul {
    display:flex;
    justify-content:flex;
    width:100%;
    background-color:#1f2890;
  }

  nav ul li {
    display:block;
    min-height:25px;
    line-height:25px;
    border-width:2px;
    text-align:center;
  }

  header {
    /* padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center; */
    width:100%;
    background-color:#1f2890;
  }

  .accordion {
    display:none;
  }
}

@media print {
  body::after {
    content: url("../imgs/QR.png") !important;
  }
  * {
    transition: none !important;
    -webkit-print-color-adjust:exact;
  }
}
